<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<h3 th:text="${invoice.description}"></h3>
	<div>
		Customer: <span
			th:text="${invoice.customer.name + ' ' + invoice.customer.lastName}"></span>
		<h4>Invoice detail</h4>
		<table>
			<thead>
				<tr>
					<th>Product</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${invoice.items}">
					<td th:text="${item.product.name}"></td>
					<td th:text="${item.product.price}"></td>
					<td th:text="${item.quantity}"></td>
					<td th:text="${item.calculateAmount()}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>